<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JudoKataTournamentDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=KataContestDb;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="JudoKataTournamentDB.Properties.Settings.KataContestDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\KataContestDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="JudoKataTournamentDB.Properties.Settings.KataContestDbConnectionString"
            connectionString="Data Source=GVHE-WS-226LJ1J\SQLEXPRESS;Initial Catalog=KataContestDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>