<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="JudoKataTournamentDb" 
           connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=KataContestDb;Integrated Security=True;Connect Timeout=30"
           providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>